---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/cases/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="jLmbUi3qElX5crBSyNFbxDTxeETPleuXMkXO1PNTc",
        oauth_signature="L1qLWdwFyM6mTwHB%2BM6ouICTprg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422923302", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"eb826c510db75f89c30331de68918834"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '48'
      x-rate-limit-reset:
      - '38'
    body:
      encoding: UTF-8
      string: '{"id":3,"external_id":null,"blurb":"Hooray! We sent you a test case
        to show what a customer experiences when emailing your new support email address:
        support@joesak.desk-mail.com. This is your dedicated support email address
        that you can start using right away without any setup. Just h","priority":4,"locked_until":null,"label_ids":[],"active_at":"2015-02-02T05:00:51Z","changed_at":"2015-02-02T19:13:34Z","created_at":"2015-01-26T23:34:30Z","updated_at":"2015-02-02T19:13:34Z","first_opened_at":"2015-01-30T22:56:39Z","opened_at":"2015-01-30T22:56:39Z","first_resolved_at":null,"resolved_at":null,"status":"open","description":null,"language":null,"received_at":"2015-01-26T23:34:30Z","type":"email","labels":[],"subject":"Your
        free support email address has been activated.","custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/3","class":"case"},"message":{"href":"/api/v2/cases/3/message","class":"email"},"customer":{"href":"/api/v2/customers/289221629","class":"customer"},"labels":{"href":"/api/v2/cases/3/labels","class":"label"},"assigned_user":{"href":"/api/v2/users/22811841","class":"user"},"assigned_group":{"href":"/api/v2/groups/476762","class":"group"},"locked_by":null,"history":{"href":"/api/v2/cases/3/history","class":"history"},"case_links":{"href":"/api/v2/cases/3/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/3/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/3/replies","class":"reply","count":1},"draft":{"href":"/api/v2/cases/3/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/3/notes","class":"note","count":0},"attachments":{"href":"/api/v2/cases/3/attachments","class":"attachment","count":0}}}'
  recorded_at: Tue, 03 Feb 2015 00:28:22 GMT
[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters/2275373
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="1patlswrevgfGD1Q6OYLBxyrTuwR4PUUB47O1Yl0c",
        oauth_signature="39xh9dnok5GFFo8nGorOcLex5U0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924445", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0bc6da9ecce7ab81dc9a968d15a8e64e"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '35'
    body:
      encoding: UTF-8
      string: '{"id":2275373,"name":"My Cases","position":3,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc","_links":{"self":{"href":"/api/v2/filters/2275373","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/2275373/cases","class":"case"}}}'
  recorded_at: Tue, 03 Feb 2015 00:47:25 GMT
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters/2275373/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="ijkOQmavQvYPKJG5bujDKlsIE3fjrkGS5loyUa3aOko",
        oauth_signature="vod081H64PHL67%2B6SVPll2dtKB4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924445", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"7db1f78c4a6d36209a3915614890ec69"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '34'
    body:
      encoding: UTF-8
      string: '{"total_entries":3,"page":1,"_links":{"self":{"href":"/api/v2/filters/2275373/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters/2275373/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters/2275373/cases?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":1,"external_id":null,"blurb":"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\n\n1. USE IT - You\u2019ve got 14 days to try us out - please
        do so and tell us what you t","priority":4,"locked_until":null,"label_ids":[2177272,2177275,2367540],"active_at":null,"changed_at":"2015-02-03T00:43:23Z","created_at":"2015-01-26T23:33:47Z","updated_at"[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels/2177272
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="1om1GaVwMiIn5jE1qLuF5Tpq9jhBy58YM53eDUOykM",
        oauth_signature="CliqJdMndjJ1YbdWoEf6Hakv9CY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924446", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94676aa8c0a5af3d149fb492b36028f8"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '33'
    body:
      encoding: UTF-8
      string: '{"id":2177272,"name":"Sample Case","types":["case"],"description":"Sample
        Case","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177272","class":"label"}}}'
  recorded_at: Tue, 03 Feb 2015 00:47:27 GMT
[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="7oNYF1H1oJqiKmlwzh3PdoE5qdE6Wqyqn30bW08",
        oauth_signature="DtsjNWmLnihFAd6qQtL8y7sgbeI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924449", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
[...]
[...]
