---
http_interactions:
- request:
    method: post
    uri: https://joesak.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: '"{\"labels\":[\"Abandoned Chats\"]}"'
    headers:
      authorization:
      - OAuth oauth_body_hash="TySQknusFSnWkD2og8w%2FQGiQwm8%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="oE1p20TdZno0t4aXmAu8ER6BVsDyYOXoanmG7QB2k", oauth_signature="GKhrm%2Bp08U67iUEwNGOS7Hs0EvQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422922395", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 405 Method Not Allowed
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '56'
      x-rate-limit-reset:
      - '44'
    body:
      encoding: UTF-8
      string: '{"message":"Method Not Allowed"}'
  recorded_at: Tue, 03 Feb 2015 00:13:16 GMT
- request:
    method: put
    uri: https://joesak.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: '"{\"labels\":[\"Abandoned Chats\"]}"'
    headers:
      authorization:
      - OAuth oauth_body_hash="TySQknusFSnWkD2og8w%2FQGiQwm8%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="15XlU5FGkfTv11c24hJnhmX4bVe11PCkNaRNTQVWEo", oauth_signature="Ezgbaxgq%2FFz6xwjvNEmdDNtUjkc%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422923363", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"f886b122ae9f3b2a05a494d63db9719f"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '56'
      x-rate-limit-reset:
      - '36'
    body:
      encoding: UTF-8
      string: '{"id":1,"external_id":null,"blurb":"I want to personally thank you
        for signing up to try Desk.com! To ensure you get the most out of your trial,
        here are some helpful tips and quick ways to get started:\n\n1. USE IT - You\u2019ve
        got 14 days to try us out - please do so and tell us what you t","priority":4,"locked_until":null,"label_ids":[2177272],"active_at":null,"changed_at":"2015-01-26T23:33:47Z","created_at":"2015-01-26T23:33:47Z","updated_at":"2015-01-26T23:33:47Z","first_opened_at":null,"opened_at":null,"first_resolved_at":null,"resolved_at":null,"status":"new","description":null,"language":null,"received_at":"2015-01-26T23:33:47Z","type":"email","labels":["Sample
        Case"],"subject":"Getting Started with Your New Account","custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/1","class":"case"},"message":{"href":"/api/v2/cases/1/message","class":"email"},"customer":{"href":"/api/v2/customers/289221444","class":"customer"},"labels":{"href":"/api/v2/cases/1/labels","class":"label"},"assigned_user":{"href":"/api/v2/users/22811841","class":"user"},"assigned_group":{"href":"/api/v2/groups/476762","class":"group"},"locked_by":null,"history":{"href":"/api/v2/cases/1/history","class":"history"},"case_links":{"href":"/api/v2/cases/1/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/1/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/1/replies","class":"reply","count":0},"draft":{"href":"/api/v2/cases/1/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/1/notes","class":"note","count":0},"attachments":{"href":"/api/v2/cases/1/attachments","class":"attachment","count":0}}}'
  recorded_at: Tue, 03 Feb 2015 00:29:24 GMT
- request:
    method: put
    uri: https://joesak.desk.com/api/v2/cases/1
    body:
      encoding: UTF-8
      string: '"{\"labels\":[\"Abandoned Chats\"],\"label_action\":\"append\"}"'
    headers:
      authorization:
      - OAuth oauth_body_hash="Abjmuzjbj%2B5lQbq0eGeVBx4hjWg%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="20wSWoOtJloRmxposl28e2FnX6tQ1XadCevztRLY", oauth_signature="11sgHer%2Ff1cuETSES5p3OGyI4VA%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422923462", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type[...]
[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels/2177272
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="zXxWH9B9yq114Z4iTyHt96i0JSq55zMBzhRCpQaKw",
        oauth_signature="5P7B1%2B6aQ%2Bq%2FTAz8cMAnxtP4cSQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422923774", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94676aa8c0a5af3d149fb492b36028f8"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '45'
    body:
      encoding: UTF-8
      string: '{"id":2177272,"name":"Sample Case","types":["case"],"description":"Sample
        Case","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177272","class":"label"}}}'
  recorded_at: Tue, 03 Feb 2015 00:36:15 GMT
[...]
- request:
    method: put
    uri: https://joesak.desk.com/cases/1
    body:
      encoding: UTF-8
      string: '{"labels":["Abandoned Chats"]}'
    headers:
      authorization:
      - OAuth oauth_body_hash="1XAAQfrHapKq2GtOpKwpY1E9NhI%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="OL6NSorPTnhOt1bGsdMSi2vGha4uG2T84X7FEm9d0M", oauth_signature="pqFJ0kQTtxkpk3DGiGaRZQC2%2FiU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422923997", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 405
      message: Not Allowed
    headers:
      content-type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>405 Not Allowed</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>405
        Not Allowed</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 03 Feb 2015 00:39:58 GMT
[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels/2367540
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="gVUvukxxVIgWEVOT3MygKy3Rb6llWHIJzizTRFP9pI",
        oauth_signature="pUgvja5F86uMjMpzgV0gd23poGI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924229", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"dace4a12c497a8ad16530d1ed516b33c"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '55'
      x-rate-limit-reset:
      - '10'
    body:
      encoding: UTF-8
      string: '{"id":2367540,"name":"Hello World","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367540","class":"label"}}}'
  recorded_at: Tue, 03 Feb 2015 00:43:50 GMT
recorded_with: VCR 2.9.3
