---
http_interactions:
- request:
    method: post
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"Label Time"}'
    headers:
      authorization:
      - OAuth oauth_body_hash="IFAMnqv5ROAVdXvuf9IPqgGFkJY%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="5z8mCPHeK1wihjMtreRvbCg0PVCWGmYaK8b1hs", oauth_signature="khPQ4wplKecezEkuGcX%2FBJuvtaM%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422924812", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229248131638806"'
      location:
      - https://joesak.desk.com/api/v2/labels/2367662
      status:
      - 201 Created
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '27'
    body:
      encoding: UTF-8
      string: '{"id":2367662,"name":"Label Time","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367662","class":"label"}}}'
  recorded_at: Tue, 03 Feb 2015 00:53:33 GMT
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="Y4qbl2jMzh5GHu6m3SjVYMSInPd58TT8jm4XsBAw",
        oauth_signature="zWkOUgSGNe10VP16woTtXoyqcfY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924837", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229248131638806"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '56'
      x-rate-limit-reset:
      - '2'
    body:
      encoding: UTF-8
      string: '{"total_entries":18,"page":1,"_links":{"self":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2367659,"name":"A
        very nice label","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367659","class":"label"}}},{"id":2177275,"name":"Abandoned
        Chats","types":["case","macro"],"description":"Abandoned Chats","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177275","class":"label"}}},{"id":2367541,"name":"Awesome
        Sauce","types":["case","macro"],"description":null,"enabled"[...]
[...]
