---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="xMtEP5sKIkescKHkwnGw6b0aC85YtscDUDjCFpcbdE",
        oauth_signature="IJre79uAL9VkaaGfHik19of%2BcCc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924485", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229198721678030"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '55'
    body:
      encoding: UTF-8
      string: '{"total_entries":14,"page":1,"_links":{"self":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2177275,"name":"Abandoned
        Chats","types":["case","macro"],"description":"Abandoned Chats","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177275","class":"label"}}},{"id":2367541,"name":"Awesome
        Sauce","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367541","class":"label"}}},{"id":2367542,"name":"Check
        me out","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367542","class":"label"}}},{"id":2367522,"name":"Cool","types":["ca[...]
- request:
    method: post
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"My new label"}'
    headers:
      authorization:
      - OAuth oauth_body_hash="XSmO6pJgUWRlzm3FhlwEOWeiRWw%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="DOXB1IiphcUjFrXp0eKnNlKQzp4RSpvxpTL2uJObY", oauth_signature="cBhkdpwnceW18vNjPkvsm3yeSDs%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422924485", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229198721678030"'
      status:
      - 422 Unprocessable Entity
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '56'
      x-rate-limit-reset:
      - '54'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"name":["taken"]}}'
  recorded_at: Tue, 03 Feb 2015 00:48:06 GMT
[...]
