---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="hfFrKjwwrynOVAaOxcDyLOY1zA2NJOnqSOpEm5Og",
        oauth_signature="BO4pGhE3dQbdwC1K9%2BNJGeYa%2BHM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422919763", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229194914645114"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '36'
    body:
      encoding: UTF-8
      string: '{"total_entries":11,"page":1,"_links":{"self":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2177275,"name":"Abandoned
        Chats","types":["case","macro"],"description":"Abandoned Chats","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177275","class":"label"}}},{"id":2367522,"name":"Cool","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367522","class":"label"}}},{"id":2367525,"name":"Cool
        Label","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367525","class":"label"}}},{"id":2177274,"name":"Escalated","types":["case","macro"],"[...]
- request:
    method: post
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"My new label"}'
    headers:
      authorization:
      - OAuth oauth_body_hash="XSmO6pJgUWRlzm3FhlwEOWeiRWw%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="ypEk4Ny7fnuhoGfkroIFLiSxOZN0yxbAiz5Ztjl1o8", oauth_signature="BL8m11DXsP3XeVssYu7OT04DrWU%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422919764", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229194914645114"'
      status:
      - 422 Unprocessable Entity
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '36'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":{"name":["taken"]}}'
  recorded_at: Mon, 02 Feb 2015 23:29:24 GMT
[...]
