---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="LGKMVvo4tBBpYxe3or8jPH76h0U9QHXFBOKfW4e4",
        oauth_signature="NJgv4WCT5NpnjcRfVqAbRqHgkOY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422919467", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"85a00da46ba4f1687d1c5dc721417420"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '32'
    body:
      encoding: UTF-8
      string: '{"total_entries":10,"page":1,"_links":{"self":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2275371,"name":"Inbox","position":1,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc","_links":{"self":{"href":"/api/v2/filters/2275371","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/2275371/cases","class":"case"}}},{"id":2275372,"name":"All
        Cases","position":2,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc","_links":{"self":{"href":"/api/v2/filters/2275372","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/2275372/cases","class":"case"}}},{"id":2275373,"name":"My
        Cases","position":3,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc"[...]
