---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="oj58icNr1Av4Ld3MYsPQRe3BsGlTV42aCxkJ6bbXefI",
        oauth_signature="p3bgmPErSv%2BBpYSq3QvJp99E%2BpE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422924893", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229248390754622"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '6'
    body:
      encoding: UTF-8
      string: '{"total_entries":19,"page":1,"_links":{"self":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/labels?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2367659,"name":"A
        very nice label","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367659","class":"label"}}},{"id":2177275,"name":"Abandoned
        Chats","types":["case","macro"],"description":"Abandoned Chats","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177275","class":"label"}}},{"id":2367541,"name":"Awesome
        Sauce","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367541","class":"label"}}},{"id":2367542,"name":"Ch[...]
[...]
