---
http_interactions:
- request:
    method: post
    uri: https://joesak.desk.com/api/v2/labels
    body:
      encoding: UTF-8
      string: '{"name":"Cool"}'
    headers:
      authorization:
      - OAuth oauth_body_hash="FoKw3yMBPbC7LuxD6o0CyKWsLio%3D", oauth_consumer_key="1ILS6AktlB2RM1FyvEgw",
        oauth_nonce="WL3WS2d7w1UQm7FLQfZsIoO0laQoehE1WCZGRmhQ", oauth_signature="B2%2Fc%2FgUs2ZuEkByZ8BgB6%2FH7uGk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1422919311", oauth_token="KDv8P7iJ7nyGCud1rihM",
        oauth_version="1.0"
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"14229193118994852"'
      location:
      - https://joesak.desk.com/api/v2/labels/2367522
      status:
      - 201 Created
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '9'
    body:
      encoding: UTF-8
      string: '{"id":2367522,"name":"Cool","types":["case","macro"],"description":null,"enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2367522","class":"label"}}}'
  recorded_at: Mon, 02 Feb 2015 23:21:51 GMT
recorded_with: VCR 2.9.3
