---
http_interactions:
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="LudWW3mVFtGJ1EBpw1pcX6iycArUlimAxiBoNdqhOM",
        oauth_signature="9AVWFd901bL%2FvjuC1lvZoib0RsM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422917416", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"85a00da46ba4f1687d1c5dc721417420"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '59'
      x-rate-limit-reset:
      - '43'
    body:
      encoding: UTF-8
      string: '{"total_entries":10,"page":1,"_links":{"self":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":2275371,"name":"Inbox","position":1,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc","_links":{"self":{"href":"/api/v2/filters/2275371","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/2275371/cases","class":"case"}}},{"id":2275372,"name":"All
        Cases","position":2,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc","_links":{"self":{"href":"/api/v2/filters/2275372","class":"filter"},"group":null,"user":null,"cases":{"href":"/api/v2/filters/2275372/cases","class":"case"}}},{"id":2275373,"name":"My
        Cases","position":3,"active":true,"routing_enabled":false,"sort_field":"updated_at","sort_direction":"desc"[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters/2275371/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="XADKlf5jPBwmsS8xWcuAIexgp4XrQVqWuh76pJPpS4",
        oauth_signature="AB4UCtHqn9m0VfrNuAOxMOqkfT0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422917417", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"a56ae6825b051ce1e42dff8604c3a6a7"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '58'
      x-rate-limit-reset:
      - '42'
    body:
      encoding: UTF-8
      string: '{"total_entries":3,"page":1,"_links":{"self":{"href":"/api/v2/filters/2275371/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters/2275371/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters/2275371/cases?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[{"id":3,"external_id":null,"blurb":"Hooray!
        We sent you a test case to show what a customer experiences when emailing
        your new support email address: support@joesak.desk-mail.com. This is your
        dedicated support email address that you can start using right away without
        any setup. Just h","priority":4,"locked_until":null,"label_ids":[],"active_at":"2015-02-02T05:00:51Z","changed_at":"2015-02-02T19:13:34Z","created_at":"2015-01-26T23:34:30Z","updated_at":"2015-02-02T19:13:34Z","first_opened_at":"2015-01-30T22:56:39Z","opened_at":"2015-01-30T22:56:39Z","first_resolved_at":null,"resolved_at":null,"status":"open","description":null,"language":null,"received_at":"2015-01-26T23:34:30Z","type":"email","labels":[],"subject":"Your
        free support email address has been activated.","custom_fields":{},"_links":{"self":{"href":"/api/v2/cases/3","class":"case"},"message":{"href":"/api/v2/cases/3/message","class":"email"},"customer":{"href":"/api/v2/customers/289221629","class":"customer"},"labels":{"href":"/api/v2/cases/3/labels","class":"label"},"assigned_user":{"href":"/api/v2/users/22811841","class":"user"},"assigned_group":{"href":"/api/v2/groups/476762","class":"group"},"locked_by":null,"history":{"href":"/api/v2/cases/3/history","class":"history"},"case_links":{"href":"/api/v2/cases/3/links","class":"case_link"},"macro_preview":{"href":"/api/v2/cases/3/macros/preview","class":"macro_preview"},"replies":{"href":"/api/v2/cases/3/replies","class":"reply","count":1},"draft":{"href":"/api/v2/cases/3/replies/draft","class":"reply"},"notes":{"href":"/api/v2/cases/3/notes","class":"note","count":0},"attachments":{"href":"/api/v2/cases/3/attachments","class":"attachment","count":0}}},{"id":1,"external_id":null,"blurb":"I
        want to personally thank you for signing up to try Desk.com! To ensure you
        get the most out of your trial, here are some helpful tips and quick ways
        to get started:\n\n1. USE IT - You\u2019ve got 14 days to try us out - please
        do so and tell us what you t","priority":4,"locked_until":null,"label_ids":[2177272],"active_at":null,"changed_at":"2015-01-26T23:3[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/labels/2177272
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="t7I5eNUf86dMFSRK6rOt4O535Yp2mOcIje4Qrfbk",
        oauth_signature="w8PL9jLaiU2jPvV%2BO4w6INeEdFs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422917418", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"94676aa8c0a5af3d149fb492b36028f8"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '57'
      x-rate-limit-reset:
      - '42'
    body:
      encoding: UTF-8
      string: '{"id":2177272,"name":"Sample Case","types":["case"],"description":"Sample
        Case","enabled":true,"color":"default","_links":{"self":{"href":"/api/v2/labels/2177272","class":"label"}}}'
  recorded_at: Mon, 02 Feb 2015 22:50:18 GMT
[...]
- request:
    method: get
    uri: https://joesak.desk.com/api/v2/filters/2275380/cases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_consumer_key="1ILS6AktlB2RM1FyvEgw", oauth_nonce="iGLxMjbpCOcuaLL123Ynh6xCxO8oiI0arFOmcwmW8k",
        oauth_signature="ZojRcoyqM5tASRm7ah0SSfueBpE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1422917430", oauth_token="KDv8P7iJ7nyGCud1rihM", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"9fa10114fb43d3d03ef59a380c291d20"'
      status:
      - 200 OK
      x-appversion:
      - '15.999'
      x-rate-limit-limit:
      - '60'
      x-rate-limit-remaining:
      - '39'
      x-rate-limit-reset:
      - '30'
    body:
      encoding: UTF-8
      string: '{"total_entries":0,"page":1,"_links":{"self":{"href":"/api/v2/filters/2275380/cases?page=1&per_page=50","class":"page"},"first":{"href":"/api/v2/filters/2275380/cases?page=1&per_page=50","class":"page"},"last":{"href":"/api/v2/filters/2275380/cases?page=1&per_page=50","class":"page"},"previous":null,"next":null},"_embedded":{"entries":[]}}'
  recorded_at: Mon, 02 Feb 2015 22:50:30 GMT
recorded_with: VCR 2.9.3
