<%= div_for desk_case, class: 'panel radius' do %>
  <h4><%= desk_case.subject %></h4>

  <p><%= desk_case.blurb %>&hellip;</p>

  <div class='clearfix'>
    <%= render desk_case.labels %>
  </div>
<% end %>
