<div class="columns large-12">
  <h3><%= t('text.controllers.labels.index') %></h3>
  <% if @labels.any? %>
    <div class='clearfix'>
      <%= render @labels %>
    </div>
  <% else %>
    <p><%= t('text.models.label.none') %></p>
  <% end %>

  <%= link_to t('links.controllers.labels.new'),
              new_label_maker_label_path,
              class: 'button small'%>
</div>
